<!-- 继承【account/base.html】 -->
{% extends "account/base.html" %}

<!-- 加载：国际化i18n-->
{% load i18n %}

<!-- 宏：标题【填充内容】 -->
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<!-- 宏：主体信息【填充内容】 -->
{% block inner %}
  <h1>{% trans "Sign Out" %}</h1>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
  </form>
{% endblock %}

